@font-face {
    font-family: amatic;
    src: url(../AmaticSC-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "amatic", Arial, Helvetica, sans-serif;
}

/* -------------index.html-Styles------------*/

.index{
background: url(../main.jpg) no-repeat center;
background-size: cover;
height: 100vh;
font-size: 5rem;
padding: 35vh;
text-align: center;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: underline 2px;
}